{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <form class="mb-3" action="\upload" method="POST" enctype="multipart/form-data">
        <input class="upload" type="file" id="image" name="image" accept="image/*">
        <div class="mb-3">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date">
        </div>
        <div class="mb-3">
            <label for="caption">Caption:</label>
            <input autocomplete="off" id="caption" name="caption" placeholder="..." type="text">
        </div>
        <button class="button" type="submit">Upload</button>
    </form>
{% endblock %}
